# Bytecode e cache
__pycache__/
*.pyc
*.pyo

# Ambientes virtuais
venv/
.env/
.env

# Logs
*.log

# Configurações locais
.vscode/
.idea/

# Arquivos Temporarios
Temp/
downloaded_files/
backup/
Output/
teste.*
LATTES_OUTPUT*